<h1>Testimonios</h1>


<div class="container-testimonios">
    <div class="testimonios-card">
        <div class="testimonio-imagen">
            <img src="assets/testimonio-1.webp" alt="imagen">
        </div>
    
        <h1>Elena</h1>
    
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam autem tempora 
            voluptatum? Repellat in at fugit nesciunt iste voluptate eaque minima a ipsum? 
            Fugiat quam modi repellendus, sint aspernatur voluptates.</p>
        
    </div>



    <div class="testimonios-card">
        <div class="testimonio-imagen">
            <img src="assets/testimonio-2.jpeg" alt="imagen">
        </div>
    
        <h1>Juan</h1>
    
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam autem tempora 
            voluptatum? Repellat in at fugit nesciunt iste voluptate eaque minima a ipsum? 
            Fugiat quam modi repellendus, sint aspernatur voluptates.</p>
        
    </div>



    <div class="testimonios-card">
        <div class="testimonio-imagen">
            <img src="assets/testimonio-3.webp" alt="imagen">
        </div>
    
        <h1>Denna</h1>
    
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam autem tempora 
            voluptatum? Repellat in at fugit nesciunt iste voluptate eaque minima a ipsum? 
            Fugiat quam modi repellendus, sint aspernatur voluptates.</p>
        
    </div>



    <div class="testimonios-card">
        <div class="testimonio-imagen">
            <img src="assets/testimonio-4.webp" alt="imagen">
        </div>
    
        <h1>Anna</h1>
    
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam autem tempora 
            voluptatum? Repellat in at fugit nesciunt iste voluptate eaque minima a ipsum? 
            Fugiat quam modi repellendus, sint aspernatur voluptates.</p>
        
    </div>


    <div class="testimonios-card">
        <div class="testimonio-imagen">
            <img src="assets/testimonio-5.jpg" alt="imagen">
        </div>
    
        <h1>Jhon</h1>
    
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam autem tempora 
            voluptatum? Repellat in at fugit nesciunt iste voluptate eaque minima a ipsum? 
            Fugiat quam modi repellendus, sint aspernatur voluptates.</p>
        
    </div>
    
</div>