footer{background-color: rosybrown;
height: 60px;
width: 100%;
margin-top: auto;
position: fixed;
bottom: 0;
}

.redes-sociales{
    display: flex;
    justify-content: end;
    height: 20px;
}

p{
    color: white;
    text-align: center;
}

.icono-redes{
 
    img{
        height: 30px;
        padding: 5px;
     

    
    }


}