form{
    background-color: white;
    width: 450px;
    display: flex;
    border-radius: 20px;
    margin: 0 auto;
    padding: 10px;
    display: grid;
    height: 600px;
    padding: 30px;
    margin-bottom: 120px;
    border: solid 1px rosybrown;
    box-shadow: 0 2px 8px;
    margin-top: 120px;

    input,textarea{
        outline: none;
        background: none;
        border-radius: 5px;
        border: none;
        border-bottom: 1px solid rgb(225, 160, 241); 
        padding: 20px;

    }

    
    textarea{
        padding: 20px;
    }

    label{
        padding-top: 20px;
        color: black;

        
    }

    h1{
        text-align: center;
        color: black;
        text-transform: capitalize;
    }

    button {
        height: 42px;
        border-radius: 12px;
        margin-top: 20px;

        span{
            font-size: 17px;
        }

        &:hover{
            background-color: #ffc0cb;
            animation: ease-in-out 50s linear;
            
            span{
                color: rgba(104, 98, 98, 0.781);
            }
           
        }
    }
}