<h1 class="titulo">Servicios</h1>

<div class="contenedor-servicios">
    <div class="cards-servicios pink">
        <div class="imagen-card">
            <img src="../../../assets/online.png" alt="Consulta Online">
        </div>
        <div>
            <h6>Consulta en Linea</h6>
            <p>Asesoria Nutricional Online(VideoLlamada,mensaje de texto,audios)</p>
        </div>
    </div>

    <div class="cards-servicios">
        <div class="imagen-card">
            <img src="../../../assets/escala.png" alt="Consulta Online">
        </div>
        <div>
            <h6>Monitoreo Constante</h6>
            <p>Monitoreo de Estado Nutricional , Grasa Corporal,peso etc.</p>
        </div>
    </div>

    <div class="cards-servicios pink">
        <div class="imagen-card">
            <img src="../../../assets/peso.png" alt="Consulta Online">
        </div>
        <div>
            <h6>Nutricion Deportiva</h6>
            <p>Mejora Tu composicion corporal , Rendimiento ,nutricion individualizada al deporte</p>
        </div>
    </div>

    <div class="cards-servicios">
        <div class="imagen-card">
            <img src="../../../assets/corazon.png" alt="Consulta Online">
        </div>
        <div>
            <h6>Nutricion Clinica</h6>
            <p>Te ayudo a mejorar tu salud, nutricion aplicada para el beneficio de tu salud en diversas enfermedades.</p>
        </div>
    </div>

    <div class="cards-servicios pinks">
        <div class="imagen-card">
            <img src="../../../assets/embarazada.png" alt="Consulta Online">
        </div>
        <div>
            <h6>Nutricion En Embarazo</h6>
            <p>Asesoriamiento y guia durante el embarazo</p>
        </div>
    </div>

    <div class="cards-servicios">
        <div class="imagen-card">
            <img src="../../../assets/ninos.png" alt="Consulta Online">
        </div>
        <div>
            <h6>Nutricion en las diferentes etapas de la vida</h6>
            <p>Nutricion para adultos , jovenes , niños y tercera edad.</p>
        </div>
    </div>
</div>