@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* You can add global styles to this file, and also import other style files */
@import './app/app.component.scss';

*{
    font-family: 'Poppins',sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

html{
    display: grid;
    box-sizing: border-box;
    height: 100%;

    body{
        height: auto;
    }
}
