<h1 class="titulo">Blog</h1>

<div class="contenedor-blogs">
  <div class="cards-blogs">
    <div class="texto">
      <h2>Alimentacion En La Primera Etapa de la Vida</h2>
      <p>
        La alimentación en la infancia debe ir ajustada a la edad para recibir
        el aporte adecuado de proteínas, hidratos de carbono, lípidos, minerales
        , vitaminas y agua para cubrir el mantenimiento de las funciones, el
        gasto energético y la formación de nuevos tejidos.
      </p>
      <a href="">Ver Mas Sobre Esto</a>
    </div>
    <div>
      <img src="assets/alimentacion-infancia.jpg" alt="imagen-blog" />
    </div>
  </div>

  <div class="cards-blogs">
    <div class="texto">
      <h2>Psicologia De La Nutricion</h2>
      <p>
        Psicología de la alimentación. La Psiconutrición o Psicología de la
        Alimentación, es la ciencia que estudia nuestra relación con la comida.
        Para poder explicar y abordar dicha relación, la Psicología de la
        Nutrición tiene en cuenta nuestras emociones, conductas, así como
        nuestro contexto social y relaciones.
      </p>
      <a href="">Ver Mas Sobre Esto</a>
    </div>
    <div>
      <img src="assets/psicologia-nutricion.jpeg" alt="imagen-blog" />
    </div>
  </div>

  <div class="cards-blogs">
    <div class="texto">
      <h2>Nutricion Correcta</h2>
      <p>
        La alimentación correcta es la base de una buena salud junto con el con-
        sumo de agua simple potable y la práctica diaria de actividad física, es
        la mejor manera de prevenir y controlar el sobrepeso, obesidad y otras
        enfermedades, como la diabetes y presión alta, entre otras.
      </p>
      <a href="">Ver Mas Sobre Esto</a>
    </div>
    <div>
      <img src="assets/piramide.jpg" alt="imagen-blog" />
    </div>
  </div>
</div>
